body {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    
    font-size: 15x;
    line-height: 1.6;
    color: #fff;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
    background: url("../images/Без названия105.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__title{
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: -100;
}


.intro__inner{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    
    text-align: center;
}

.header {
    padding-top: 30px;
    width: 100%;
    
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header__inner{
    display: flex;
    justify-content: space-between;
}



.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
    
    background:#ff0;
    
    position: absolute;
    top: 100;
    left: 0;
    z-index: 1;
}


.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    
    
    color: #fff;
    text-decoration: none;
    transition: color 0.2s linear;
}


.nav__link:hover
{
color: #ff0;
}

.nav__link:hover:after{
    display: block;
}



.btn{
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    
    border: 3px solid #fff;
    
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    
}

.btn:hover{
    color: #ff0;
    transition: color 0.2s linear;
}

.section{
    padding: 80px 0;
}

.section__header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    color:black;
    text-align: center;
}


.section__title{
    font-size: 20px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 0;
    
    background-color: #333;
    justify-content: space-between;
}



.about{
    display: flex;
    justify-content: space-between;
    
}

.about__item{
    width: 100%;
}








.statistics {
    background-color: #95e1d3;
    
}

.stat {
    display: flex;
}

.stat__item {
    padding: 70px 25px;
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
}

.stat__item:last-child {
      border-left: 1px solid #b5eae0;
}


.stat__count {
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}
  
.social__text {
    padding: 70px 25px; 
    width: 100%;
    font-size:40px;
    color: black;
    text-transform: uppercase;
    
      
}



.fa-brands fa-twitch{
    display: flex;
    color: black;
}
